
<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :service_id, collection: Service.all, prompt: "Pick a service for this job" %>
    <%= f.input :client_id, collection: Client.all, prompt: "Pick a client" %>
    <%= f.input :charge %>
    <%= f.input :mileage %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
