<div class="d-none d-lg-block">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Mobile Beauty Manager</a>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Jobs', jobs_path %></li>
        <li><%= link_to 'Expenses', expenses_path %></li>
        <li><%= link_to 'Clients', clients_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'My Account', edit_registration_path(current_user) %>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>