<!DOCTYPE html>
<html>
  <head>
    <title>SueHair</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="mw-50 m-10 p-3 column justify-content-center">
        <div class="mw-50 m-10 p-3 col-3 text-center bg-dark">
          <%= render 'layouts/nav' %>
          <% if user_signed_in? %> 
            <%= render 'layouts/stats' %>
          <% end %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
